body,
html {
    text-align: center;
}

ul {
    list-style-type: none;
}

.circular {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: inline-block;
}

input {
    width: 100%;
    padding: 1em;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 5px;
}

.clean {
    color: rgb(198, 40, 40);
    cursor: pointer;
}